[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
pigpio = "*"

[packages]
tornado = "*"
gpiozero = "*"
firebase-admin = "*"

[requires]
python_version = "3.6"
